@model List<Product>
<body style="background-color: #FFA07A;">
</body>
<table>
    <style>
        table {
            font-size: 14px;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            background: #AFCDE7;
            padding: 10px 20px;
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: white;
        }
        th:first-child, td:first-child {
            text-align: left;
        }
    </style>
    <tr>
        <th>Product Name</th>
        <th>Category</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Category.Name</td>
        </tr>
    }
</table>